* {
  font-family: 'Righteous', cursive;
}

.navbar {
  height: 100px;
  
}

// .nav-buttons:hover {
//   cursor: pointer;
//   background-color: #ff005f;  
// }

.button {
  font-family: 'Righteous', cursive;
}

.home{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .55);
  transform: translate3D(0, -6px, 0);
}

.section-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(168, 166, 166);
  margin: 150px 550px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
}

.section-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(168, 166, 166);
  margin: 100px 500px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
}






